{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


    <div class="shadow p-3 mb-5 bg-white rounded">

    <center>
        <img src="https://imgur.com/e5esbJj.png" class="rounded-sm" width="100">
        <h2 style="text-align: center;" class="font-weight-bold">光麗生醫公告欄</h2>
    </center>
   
    <br>
    
    {% if tasks|length < 1 %}
    <h3 style="text-align: center;" class="font-weight-bold">事情都做完了！好棒棒！</h3>

    <br>
    
    {% else %}
    <table align="center" border="1" class="table table-hover">
        <tr>
            <th scope="col"><center>優先狀態</center></th>
            <th scope="col"><center>公告</center></th>
            <th scope="col"><center>說明</center></th>
            <th scope="col"><center>負責人</center></th>
            <th scope="col"><center>公告時間</center></th>
            <th scope="col"><center>操作</center></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><center><img src="{{ task.priority }}" class="rounded-sm" width="30"></center></td>
            <td><center>{{ task.title }}</center></td>
            <td><center>{{ task.content }}</center></td>
            <td><center>{{ task.people }}</center></td>
            <td><center>{{ task.date_created.date() }}</center></td>
            <td>
                <center>
                <a href="/delete/{{ task.id }}">刪除</a>
                <br>
                <a href="/update/{{ task.id }}">更新</a>
                </center>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    </div>

    <div class="shadow p-3 mb-5 bg-white rounded">

    <form action="/" method="POST" align="center">
        <div class="form-group">
        <label for="content">公告事項</label><br>
        <input type="text" name="title"" id="title" placeholder="請輸入公告標題" class="form-control-sm"><br><br>
        <label for="content">說明</label><br>
        <input type="text" name="content" id="content" placeholder="請輸入公告內容" class="form-control-sm"><br><br>
        <label for="people">負責人</label><br>
        <input type="text" name="people" id="people" placeholder="請輸入負責人名" class="form-control-sm"><br><br>
        <input type="radio" id="ugert" name="priority" value="https://i.imgur.com/W0Frsce.png" required class="form-control-sm">
        <label for="ugert">緊急</label>
        <input type="radio" id="normal" name="priority" value="https://i.imgur.com/LLff6l2.png" class="form-control-sm">
        <label for="normal">一般</label><br><br>
        </div>
        <input type="submit" value="新增公告事項">
    </form>

    </div>

    <div class="shadow p-3 mb-5 bg-white rounded">
    <center><div class="alert alert-primary" role="alert"><h6>使用說明</h6></div></center>
    
    <p class="font-weight-bold" style="text-align: center;">
        1. 輸入公告事項標題內容及負責人，選擇事件的優先程度。<br>
        2. 已發佈事件可使用「更新」功能修正內容。<br>
        3. 完成的事件可使用「更新」功能變更狀態為完成。
    </p>
    </div>

    <hr>

        

{% endblock %}
